@import "reset.less";

// colors
@primaryTextColor: #3a4145;
@lightGray: #e0e0e0;
@grayBackground: #ebedee;

// Borders
@lightGrayBorder: 1px solid @lightGray;

// max width for website
@maxWithWebsite: 800px;
// CONTAINER SECTION
.container {
  max-width: @maxWithWebsite;
  margin: 0px auto;
  // Navbar
  .navbar {
    .nav-menu {
      display: flex;

      li {
        flex: 1;
        border: @lightGrayBorder;
        border-right: none;
        text-align: center;

        a {
          font-size: 1.2rem;
          display: block;
          padding: 1.25rem 2rem;
          text-decoration: none;
          color: @primaryTextColor;

          &:hover {
            background: @lightGray;
          }
        }
      }
      li:first-child {
        border-left: @lightGrayBorder;
      }
      li:last-child {
        border-right: @lightGrayBorder;
      }
    }
  }

  // Intro
  .intro {
    display: flex;
    flex-direction: column;

    .intro-image-wrapper {
      display: flex;
      flex-direction: row;

      div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          display: block;
          height: 1px;
          border: @lightGrayBorder;
        }
      }
      .img-div {
        flex: 1;
        padding: 1.5rem;

        img {
          width: 100%;
          border-radius: 50%;
        }
      }
    }

    .intro-text {
      text-align: center;

      div {
        width: 60%;
        margin: 0px auto;
        h1 {
          font-size: 3rem;
          font-weight: lighter;
        }
        h3 {
          font-size: 1.5rem;
          margin: 0.6rem auto;
          color: @primaryTextColor;
        }
        p {
          font-size: 1.4rem;
          line-height: 1.65rem;
        }
      }
    }
  } //End Intro

  // Skills
  .skills {
    border: 1px solid red;
  } //End Skills
} //End Container
